
@media(max-width:700px){
    body{
        display: grid;
        grid-template-areas: 
        "header"
        "carousel"
        "contenido"
        "footer";
        gap: 10px;
    }
    
    .nav1 .ul-der{
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: right;
    }
    .container-car{
        margin: auto;
    }
    .contenidoIndex{
        margin: auto;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .articulos{
        text-align: center;
        display: row;
        justify-content: center;
        width: 40%;
    }

    main{
        width: 60%;
    }
    .titulo-main{
        background-image:url(../images/cacacioli.jpg);
        background-position: center;
        color: white;
        font-family: 'Anton', sans-serif;
        font-size: 50px;
        text-align: center;
    }
}

@media(max-width:1024px){
    body{
        margin-bottom: 1,5em;
        display: grid;
        grid-template-areas: 
        "header"
        "carousel"
        "contenido"
        "footer";
        gap: 10px;
    }
    .nav1 .ul-der{
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .container-car{
        margin: auto;
    }
    .articulos{
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 600px;
    }
    main{
        width: 600px;
    }
    .titulo-main{
        font-size: 600%;
    }
    .titulo-car{
        font-size: 80px;
    }
}