.barraArriba{
    background-color: rgb(216, 216, 216);
    border-bottom: 5px solid red;
    
}
.nav1{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    .ul-der{
        list-style-type: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 5px;
        li{
            a{
            text-decoration: none;
            color: black;
            font-weight: bold;
        }
    }
    }
}
.icono-nav{
    margin-right: 5px;
    margin-top: 5px;
}
.bg-nav{
    background-color: red;
}
.logo{
    width: 250px;
}