@import url("https://fonts.googleapis.com/css2?family=Anton&family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.barraArriba {
  background-color: rgb(216, 216, 216);
  border-bottom: 5px solid red;
}

.nav1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.nav1 .ul-der {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 5px;
}
.nav1 .ul-der li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.icono-nav {
  margin-right: 5px;
  margin-top: 5px;
}

.bg-nav {
  background-color: red;
}

.logo {
  width: 250px;
}

footer {
  background-color: rgb(236, 229, 230);
  padding-top: 20px;
  border-top: 5px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
  margin-top: 20px;
}

.pie {
  color: black;
  font-family: "Times New Roman", Times, serif;
  margin-bottom: 20px;
  font-size: medium;
}

.piePagina {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}
.piePagina a {
  color: black;
  font-size: medium;
}

.iconoChico {
  width: 30px;
  transition-duration: 2s;
}
.iconoChico:hover {
  transform: rotate(360deg);
}

/*grids y armado de grilla*/
header {
  grid-area: header;
}

.container-car {
  grid-area: carousel;
}

.contenido {
  grid-area: contenido;
}

footer {
  grid-area: footer;
}

.envoltura {
  margin-bottom: 1.5em;
  display: grid;
  grid-template-areas: "header" "carousel" "contenido" "footer";
  gap: 10px;
}

/*index*/
.titulo-car {
  font-family: "Anton", sans-serif;
  font-weight: bold;
  font-size: 100px;
  color: red;
}

main {
  background-color: rgb(236, 229, 230);
  border: 5px solid black;
  margin-top: 5em;
  width: 1000px;
  margin-bottom: 5em;
}
main p {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.titulo-main {
  background-image: url(../images/cacacioli.jpg);
  background-position: center;
  color: white;
  font-family: "Anton", sans-serif;
  font-size: 150px;
  text-align: center;
}

.contenidoIndex {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.articulos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1000px;
}

.foto-noticia {
  width: 250px;
  text-align: center;
}

.noticia1, .noticia2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid black;
  background-color: rgb(236, 229, 230);
  border-radius: 10px;
}

.noticia1 {
  margin-right: 3em;
}

.noticia2 {
  margin-left: 3em;
}

/*Section informacion*/
.informacion {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: rgb(236, 229, 230);
  gap: 10px;
  border-bottom: 3px solid red;
}

.contenidoInfo {
  font-family: "Roboto", sans-serif;
  border-bottom: 3px solid red;
}

@media (max-width: 700px) {
  .envoltura {
    display: grid;
    grid-template-areas: "header" "carousel" "contenido" "footer";
    gap: 10px;
  }
  .nav1 .ul-der {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: right;
  }
  .articulos {
    text-align: center;
    display: row;
    justify-content: center;
    width: 400px;
  }
  main {
    width: 600px;
  }
  .titulo-main {
    background-image: url(../images/cacacioli.jpg);
    background-position: center;
    color: white;
    font-family: "Anton", sans-serif;
    font-size: 100px;
    text-align: center;
  }
}
@media (max-width: 1024px) {
  .envoltura {
    margin-bottom: 1, 5em;
    display: grid;
    grid-template-areas: "header" "carousel" "contenido" "footer";
    gap: 10px;
  }
  .nav1 .ul-der {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .articulos {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 600px;
  }
  main {
    width: 600px;
  }
  .titulo-main {
    font-size: 120px;
  }
  .titulo-car {
    font-size: 80px;
  }
}/*# sourceMappingURL=style.css.map */